body {
    font-size: 13px;
}

.table>thead>tr>th {
    font-size: 13px;
}

.table>tbody>tr>td {
    font-size: 13px;
}

main {
    padding: 20px 0;
}

.pagination {
    margin: 2px 0;
}

.btn-success {
    background-image: linear-gradient(to bottom,#529ede 0,#337ab7 100%);
    border-color: #337ab7;
}

.btn-success:focus, .btn-success:hover {
    background-color: #337ab7;
    border-color: #337ab7;
}

@keyframes spin {
    0% {
      transform: rotate(0)
    }
    100% {
      transform: rotate(360deg)
    }
  }

.loader {
	border: 6px solid #c4c4c4;
	border-top: 6px solid #FF794A;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	margin-left: -25px;
	z-index: 50;
}

.loader_background {
	background-color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 50;
}